{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Lista de Productos</h2>
    <a href="{{ url_for('productos.agregar_producto') }}" class="btn btn-primary mb-3">Agregar Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.precio }}</td>
                <td>{{ p.existencia }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
